   
  <form action="/admin/search-movie" method="POST">
   
  <br> <br>
  
  <br>
  <div class="form-check">
      <h1>Search:</h1>
       <label >Name</label>
  <input class="input" type="input" value="" name="title">


 
          
 <br><br>
   <button type="submit">Search</button>
</form>
<br>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


  {{#each data.results}}
  
    <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="HTML tutorial" style="width:242px;">
<h1>{{title}}</h1>
<br>
<br>
<a href="/admin/create-movie-id/{{id}}">ADD</a>
  {{/each}}

 
   
