<div class="movies">
{{#each movies}}
<div>
    <a> <img src="https://image.tmdb.org/t/p/original/{{poster}}" alt="HTML tutorial" style="width:142px;"></a> 
</div>
<a href="delete-movie/{{_id}}">DELETE</a>
{{/each}}
</div>

<a href="/admin/create-movie">ADD MOVIE</a>
<br>
<br>
<a href="/admin/">ADMIN DASHBOARD</a>