
{{#each venues}}
<div>
    <a>{{name}}</a> <br>
    <br>
</div>
<a href="delete-venue/{{_id}}">DELETE</a><br>
<br>
{{/each}}

<a href="/admin/create-venue">ADD VENUE</a>
<br>
<br>
<a href="/admin/">ADMIN DASHBOARD</a>