{{#if user}}
    {{user}} is logged in <br>
    <a href="logout" type="button">Logout</a>
{{/if}}
<br>
<br>
    <a href="movies" type="button">Movies</a><br>
    <a href="venues" type="button">Venues</a><br>
