<h1>Change My Password</h1>
<form action="/user/change-my-password" method="POST">
   <label> Current Password
      <input type="password" name="oldPassword">
   </label>
      <label> New Password
      <input type="password" name="newPassword">
   </label>


   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}