<h1>Welcome {{firstName}} {{lastName}},</h1>
<br>
<a href="/user/edit">Edit my Info</a>
<a href="/user/change-my-password">Change my Password</a>
<a href="/user/tickets">View my Tickets</a>



{{#each tickets}}
<br>{{this._id}}<br>
{{/each}}