<div class="flex items-center w-screen justify-center">
  <div class="inline-flex shadow-md items-center w-screen justify-center hover:shadow-lg focus:shadow-lg" role="group">

    <a  class="dates items-center w-screen justify-center selected-date  px-10 py-2.5 bg-black text-white font-medium text-xs leading-tight uppercase hover:bg-gray-600 focus:bg-gray-600 focus:outline-none focus:ring-0 active:bg-blue-800 transition duration-150 ease-in-out focused"></a>
    
  </div>
</div>


<section class="relative block w-full pt-10 pb-10 overflow-hidden leading-6 text-left text-indigo-900 bg-white bg-no-repeat bg-cover">
    <div class="w-full px-8 mx-auto leading-6 text-left xl:px-12 max-w-7xl">
        <div class="flex flex-wrap justify-center -mx-4 text-center text-indigo-900">
            <div class="relative w-full px-4 leading-6 text-gray-900 xl:flex-grow-0 xl:flex-shrink-0 md:flex-grow-0 md:flex-shrink-0 lg:flex-grow-0 lg:flex-shrink-0">
                <h2 class="m-0 font-sans text-4xl font-bold text-center">
Movies                </h2>
                <div class="mt-2 text-center text-gray-700">
These are the movies currently playing                {{!-- <div class="flex items-center justify-center space-x-3 text-center">
                    <div class="text-sm font-medium leading-6" :class="{ 'text-indigo-900': billing == 'Monthly', 'text-gray-400': billing != 'Monthly' }">
                        Monthly
                    </div>
                    <button type="button" @click="if(billing == 'Monthly'){ billing = 'Yearly'; }else{ billing = 'Monthly' }" :aria-pressed="on.toString()" aria-pressed="false" :class="{ 'bg-gray-200 focus:ring-gray-300': !on, 'bg-green-400 focus:ring-green-500': billing == 'Yearly' }" class="relative inline-flex flex-shrink-0 h-6 transition-colors duration-200 ease-in-out bg-gray-200 border-2 border-transparent rounded-full cursor-pointer w-11 focus:outline-none focus:ring-2 focus:ring-offset-2">
                        <span aria-hidden="true" :class="{ 'translate-x-5': billing == 'Yearly', 'translate-x-0': billing != 'Yearly' }" class="inline-block w-5 h-5 transition duration-200 ease-in-out transform translate-x-0 bg-white rounded-full shadow ring-0"></span>
                    </button>
                    <div class="text-sm font-medium leading-6" :class="{ 'text-indigo-900': billing == 'Yearly', 'text-gray-400': billing != 'Yearly' }">
                        Yearly
                    </div>
                </div> --}}
            </div>
        </div>
        
    </div>
    <!-- End Max Width Container -->
</section>

<div class="movies">
{{#each movies}}
<div>
  <a  href="/movies/{{_id}}?movieDate={{../today}}"><img class="small-poster" src="https://image.tmdb.org/t/p/original/{{poster}}" alt="HTML tutorial" style="width:242px;"></a> 
</div>
{{/each}}
</div>
<br>
<br>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}